.content{
    background: linear-gradient(121.32deg, #FFFFFF 10.96%, #FFFFFF 72%, #FFFFFF 99.98%);
    width: 90%;
    margin: 50px 0;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.credit-card{
    perspective: 700px;
    margin: 0 50px;
}
.front-card{
    background: linear-gradient(180deg, #197BBD 0%, #3391D0 100%);
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.2);
}
.back-card{
    background: linear-gradient(180deg, #197BBD 0%, #3391D0 100%);
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.2);
}
.card-fone{
    position: absolute;
    right: 0;
    bottom: 0;
}
.credit-card.flip .flipper {
    transform: rotateY(180deg);
}
.credit-card, .front-card, .back-card {
    width: 400px;
    height: 250px;
}
.flipper{
    transition: 1.5s;
    transform-style: preserve-3d;
    position: relative;
}
.front-card, .back-card{
    backface-visibility: hidden;
    transform: rotateX(0deg);
    position: absolute;
    top: 0;
    left: 0;
}
.front-card{
    z-index: 2;
}
.back-card{
    transform: rotateY(180deg);
}
img{
    pointer-events: none;
}
.card-name{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 21px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-top: 25px;
    margin-left: 25px;
    letter-spacing: 2px;
}
.card-number{
    margin-left: 25px;
    margin-top: 80px;
}
.empty-number-field{
    color: #fff;
    font-size: 27px;
    line-height: 27px;
    font-style: normal;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 7px;
    border: 1px solid transparent;

}
.card-footer{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 35px;
    margin-left: 25px;
}
.card-holder{
    font-size: 12px;
    color: #fff;
    line-height: 9px;
    margin-bottom: 10px;
}
.card-owner{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    border: 1px solid transparent;
}
.card-connection{
    display: flex;
    align-items: center;
}
.connection-elem{
    width: 30px;
    height: 30px;
    right: 25px;
    top: 72px;
    position: absolute;
}
.chip-elem{
    width: 45px;
    height: 33px;
    left: 25px;
    top: 70px;
    position: absolute;
}
.back-line{
    width: 100%;
    height: 45px;
    top: 40px;
    background-color: #181818;
    position: absolute;
}
.cvc-elem{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 45px;
    top: 110px;
    color: #fff;
}
.cvc-code{
    border: 1px dotted #fff;
    width: 40px;
    height: 25px;
    color: #fff;
    font-size: 25px;
}
.cvc-code-empty{
    border: 1px dotted #fff;
    width: 40px;
    padding-top: 8%;
    height: 25px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}
.card-info{
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 12px;
    margin: 0 25px;
    text-align: center;
}
.bank-logo{
    position: absolute;
    top: 110px;
    left: 25px;
    width: 80px;
    height: 50px;
}
.upper-case{
    text-transform: capitalize;
}
#cardInfo{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.x-container{
    width: auto;
    margin: 6px 0;
}
.submit{
    cursor: pointer;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--light-color);
    background: transparent;
    color: var(--light-color);
    margin-top: 10px;
    font-size: 18px;
}
input:focus{
    border: 1px solid #1a7cbe;
    color: #1a7cbe;
}
.submit:focus{
    border: 1px solid #1a7cbe;
    color: #1a7cbe;
}
.submit:hover {
    border: 1px solid #1a7cbe;
    color: #1a7cbe;
}
.highlight{
    border: 1px solid red;
}