@media only screen and (min-width: 335px) and (max-width: 460px) {
    .content{
        width: 100%;
        margin: 0;
        padding: 30px 0;
        align-items: center;
    }
    .credit-card, .front-card, .back-card{
        width: 290px;
        height: 180px;
        margin: 0;
    }
    .card-name{
        font-size: 12px;
        line-height: 0;
        margin-top: 20px;
        margin-left: 15px;
    }
    .connection-elem{
        width: 25px;
        height: 25px;
        right: 20px;
        top: 50px;
    }
    .chip-elem{
        width: 40px;
        height: 28px;
        left: 15px;
        top: 50px;
    }
    .card-number{
        margin-left: 15px;
        margin-top: 65px;
    }
    .number-field{
        font-size: 16px;
        letter-spacing: 6px;
    }
    .card-footer{
        width: 80%;
        margin-top: 25px;
        margin-left: 15px;
    }
    .card-holder{
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 3px;
        margin-bottom: 8px;
    }
    .card-owner{
        font-size: 16px;
    }
    .card-fone{
        width: 160px;
    }
    .back-line{
        top: 20px;
        height: 40px;
    }
    .cvc-elem{
        top: 70px;
        right: 30px;
    }
    .cvc-elem span{
        font-size: 15px;
    }
    .cvc-code{
        width: 35px;
        height: 20  px;
    }
    .card-info{
        font-size: 9px;
        bottom: 10px;
        margin: 0 5px;
    }
    .bank-logo{
        top: 75px;
        left: 15px;
        width: 65px;
        height: 40px;
    }
    #cardInfo{
        margin: 0;
        margin-top: 30px;
        width: 70%;
    }
    .converter{
        margin-top: 30px;
        text-align: center;
        min-width: 0;
        width: 70%;
    }
    .qr-container{
        margin-top: 30px;
    }
}
@media only screen and (min-width: 460px) and (max-width: 600px) {
    .content{
        width: 100%;
        margin: 0;
        padding: 30px 0;
        align-items: center;
    }
    .credit-card, .front-card, .back-card{
        width: 360px;
        height: 220px;
        margin: 0;
    }
    .card-name{
        font-size: 15px;
        line-height: 0;
        margin-top: 25px;
        margin-left: 20px;
    }
    .connection-elem{
        width: 30px;
        height: 30px;
        right: 20px;
        top: 55px;
    }
    .chip-elem{
        width: 45px;
        height: 34px;
        left: 20px;
        top: 55px;
    }
    .card-number{
        margin-left: 20px;
        margin-top: 85px;
    }
    .number-field{
        font-size: 19px;
        letter-spacing: 7px;
    }
    .card-footer{
        width: 80%;
        margin-top: 35px;
        margin-left: 15px;
    }
    .card-holder{
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 3px;
        margin-bottom: 10px;
    }
    .card-owner{
        font-size: 20px;
    }
    .card-fone{
        width: 200px;
    }
    .back-line{
        top: 25px;
        height: 45px;
    }
    .cvc-elem{
        top: 80px;
        right: 35px;
    }
    .cvc-elem span{
        font-size: 17px;
    }
    .cvc-code{
        width: 40px;
        height: 20px;
    }
    .card-info{
        font-size: 12px;
        bottom: 10px;
        margin: 0 5px;
    }
    .bank-logo{
        top: 85px;
        left: 20px;
        width: 75px;
        height: 45px;
    }
    #cardInfo{
        margin: 0;
        margin-top: 30px;
        width: 70%;
    }
    .converter{
        margin-top: 30px;
        text-align: center;
        min-width: 0;
        width: 70%;
    }
    .qr-container{
        margin-top: 30px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .content{
        width: 100%;
        margin: 0;
        padding: 30px 0;
        align-items: center;
    }
}