*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
}
.mt-20{
    margin-top: 20px;
}
.top-section{
    background-color: #F0F0F0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.highlight{
    border: 1px solid red;
}